@import "./typography.css";
@import "./color.css";

:root {
  --background: #ffffff;
  --foreground: var(--black);
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--blue-3) transparent;
}

a {
  color: inherit;
  text-decoration: none;
}
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px !important;
}
.containerFluid {
  width: 100%;
  max-width: 100%;
  margin: 0px;
  padding: 0px 60px;
}
.fixedPosition {
  position: fixed !important;
}
.errorText {
  color: var(--error);
  font-size: var(--fs14);
  font-weight: 500;
  font-family: var(--font-inter);
}

.maxLine2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.highlightedText {
  background: linear-gradient(90deg, #03d9cc 0%, #4ba6ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

/* Custom Scrollbar Styles - Webkit browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--blue-3);
  border-radius: 10px;
  transition: background 0.2s ease;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--blue-3);
}

html {
  scroll-behavior: smooth;
}


.container {
  max-width: 1400px !important;
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1500px !important;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1400px !important;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 95% !important;
  }
}

@media screen and (max-width: 899px) {
  .container {
    max-width: 100% !important;
  }
}

