.heroSection{
    min-height: 540px !important;
}


@media (max-width: 992px) {
    .heroSection {
      padding-top: 120px !important;
    }
  }
  

@media (max-width: 576px) {
  .heroSection {
    min-height: 500px !important;
  }
}